# Created by venv; see https://docs.python.org/3/library/venv.html

__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
db.sqlite3
*.db
*.sqlite-journal


# Environment and secrets
env/
.env
.env.*
venv/
.env
.venv/
ENV/
env.bak/
venv.bak/

# Build and distribution
.Python
build/
dist/
*.egg-info/
*.egg
.installed.cfg
*.whl

# Tests & coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc / OS
*.bak
.DS_Store

# Tool-specific
.python-version
celerybeat-schedule.*
*.sage.py

# Documentation builds
site/
docs/_build/



